    :root {
        --main-color: #999;
        --text-color: #333;
        --heading1: 70px;
        --heading2: 15px;
        --baseFontSize: 18px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
        color: var(--text-color);
    }

    ul {
        list-style-type: none;
    }

    img{display: block;}

    html,body{
        height: 100%;
    }
    body {
        font-size: var(--baseFontSize);
        font-family: 'Noto Sans KR', sans-serif;
        color: var(--text-color);
    }

    .container {
        width: 100%;
        height: calc(100% - 60px);
    }

    header {
        width: 100%;
        background-color: #fff;
        height: 60px;
        box-shadow: 0 2px 60px rgba(0, 0, 0, 0.3);
        position: relative;
    }

    header>h1 {
        position: absolute;
        height: 60px;
        padding: 12px 0px 0px 20px ;

    }

    header>h1 img {
        height:36px;
        
    }

    header>ul {
        float: right;
        line-height: 60px;
        width: 600px;
    }

    header>ul>li {
        float: left;
        font-size:var(--heading2);
        width: 25%;
        
    }
    header>ul>li>a{
        display: block;
        padding: 0 20px ;
        width: 100%; 
        text-align: center;
    }
    header>ul>li>a:hover {
        background-color: rgba(0, 0, 0, 0.1);
        font-size: 1.1em;
        font-weight: 400;
    }
    .col {
        width: calc(100%/4);
        height: 100%;
        position: relative;
        float: left;
        background: #fff;
        overflow: hidden;
        box-shadow: 10px 10px 30px -20px var(--main-color) inset;
    }
    .col h1{
        font-size: var(--heading1);
        font-weight: 700;
        line-height: 85px;
        overflow-wrap: anywhere;
    }

    
    #section1 h1{
        position: absolute;
        top: 0%;
        left:0%;
        text-align: right;
    }
    #section2 h1{
        position: absolute;
        top: 25%;
        right:0%;
        text-align: right;
    }
    #section3 h1{
        position: absolute;
        top: 50%;
        left:0%;
        text-align: right;
    }
    #section4 h1{
        position: absolute;
        top: 75%;
        right:0%;
        text-align: right;
    }

#section1 img{
    position: absolute;
    height:70%;
    top: 7%;
    left: 0%;
}
#section2 img{
    position: absolute;
    height:70%;
    top: 30%;
    left: 15%;
}
#section3 img{
    position: absolute;
    height:70%;
    top:-15%;
    left: 0%;
}
#section4 img{
    position: absolute;
    height:70%;
    top: 8%;
    right: 15%;}