:root {
    --main-color: #999;
    --text-color: #333;
    --heading2: 15px;
    --baseFontSize: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

ul {
    list-style-type: none;
}

img{display: block;}

html,body{
    height: 100%;
}
body {
    font-size: var(--baseFontSize);
    font-family: 'Noto Sans KR', sans-serif;
    color: var(--text-color);
}

.container {
    width: 100%;
    height: calc(100% - 60px);
    position: relative;
}

header {
    width: 100%;
    background-color: #fff;
    height: 60px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 300;
}

header>h1 {
    position: absolute;
    height: 60px;
    padding: 12px 0px 0px 20px ;

}

header>h1 img {
    height:36px;

}

header>ul {
    float: right;
    line-height: 60px;
    width: 600px;
}

header>ul>li {
    float: left;
    font-size:var(--heading2);
    width: 25%;

}
header>ul>li>a{
    display: block;
    padding: 0 20px ;
    width: 100%; 
    text-align: center;
}
header>ul>li>a:hover {
    background-color: rgba(51, 51, 51, 1);
    color:#fff;
    transition-duration: 300ms;
}
.col {
    width: calc(100%/4);
    height: 100%;
    position: relative;
    float: left;
    background: #fff;
    overflow: hidden;
    background:linear-gradient(white,lightgray,white);
}
.col h1{
    font-size:3.5vmax;
    font-weight: 700;
    line-height: 85px;
    overflow-wrap: anywhere;
    transition: font-size 1s;
    color: #555;
}
.col:hover{
    background:linear-gradient(white,lightgray,white);
    box-shadow:0 0 100px #000;
}
.shadow{
    width: 100%;
    height:calc(100% + 60px);
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.6);
    z-index: 100;
    display: none;
}
.col:hover h1{
    color: var(--text-color);
    font-size: 300%;
}

#section1 h1{
    position: absolute;
    top: 0%;
    left:0%;
    text-align: right;
}
#section2 h1{
    position: absolute;
    top: 25%;
    right:0%;
    text-align: right;
}
#section3 h1{
    position: absolute;
    top: 50%;
    left:0%;
    text-align: right;
}
#section4 h1{
    position: absolute;
    top: 75%;
    right:0%;
    text-align: right;
}

#section1 img{
    position: absolute;
    height:70%;
    top: 7%;
    left: 0%;
}
#section2 img{
    position: absolute;
    height:70%;
    top: 30%;
    left: 15%;
}
#section3 img{
    position: absolute;
    height:70%;
    top:-15%;
    left: 0%;
}
#section4 img{
    position: absolute;
    height:70%;
    top: 7%;
    right: 15%;}
